# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        §6§l你可以设置切换游戏视角，但第三人称视角能给你更好的体验
        §e§l加入我们的交流群，主界面有！
        §3§l可以任务菜单中切换游戏模式！也可以在设置界面找到它
        §5§l可以再mods设定中找到smooth font设置自己喜欢的字体哦
		§5§l吃不同的食物种类可以提高你的生命上限，具体请查看食物书哦！
		
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FF80AB

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=2

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}
